.primary-color {
  color: #d766ff !important;
}
.primary-bg-color {
  background-color: #f9f9f9;
}
.heading {
  font-size: 48px;
  font-family: 'Acme', sans-serif;
}
.sub-heading {
  font-size: 30px;
  font-weight: 400;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
p {
  font-size: 24px;
}
/* Header Css */
header {
  position: sticky;
  top: 0;
  z-index: 1020;
  border-bottom: 1px solid #ccc;
}
header .logo {
  color: #d766ff !important;
  font-size: 48px;
}

header .navbar-nav .nav-link {
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  margin-left: 15px;
}

header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link:hover {
  color: #d766ff !important;
}

/* Banner Css */
#banner {
  position: relative;
  max-height: 600px;
  background-color: #000000;
  overflow: hidden;
}
#banner .banner-image img {
  width: 100%;
  display: inline-block;
  height: 100%;
  object-fit: cover;
}
#banner .banner-text {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: right;
  padding: 15px;
}

.section li {
  font-size: 24px;
}
