@import url('//fonts.googleapis.com/css2?family=Acme&family=PT+Sans&display=swap');
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
button,
.heading-font {
  font-family: 'Acme', sans-serif;
}
